[submodule "layers/meta-balena"]
	path = layers/meta-balena
	url = https://github.com/balena-os/meta-balena.git
	branch = 2.88.x
[submodule "balena-yocto-scripts"]
	path = balena-yocto-scripts
	url = https://github.com/balena-os/balena-yocto-scripts.git
[submodule "layers/meta-tci"]
	path = layers/meta-tci
	url = https://github.com/tci-development/meta-tci.git
[submodule "layers/meta-rust"]
	path = layers/meta-rust
	url = https://github.com/meta-rust/meta-rust.git
	branch = test-dunfell
[submodule "layers/meta-rockchip"]
	path = layers/meta-rockchip
	url = https://github.com/JeffyCN/meta-rockchip.git
[submodule "layers/poky"]
	path = layers/poky
	url = https://github.com/balena-os/poky
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = https://git.openembedded.org/meta-openembedded
